<!doctype html>
<html lang="ko">
  <head>
    <!-- meta -->
    <%- include("../layout/meta") %>

    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/sub.css" />
    <link rel="stylesheet" href="/assets/css/introducetion.css" />
  </head>
  <body>
    <!-- header -->
    <%- include("../layout/header") %>

    <!-- nav -->
    <%- include("../layout/mobile-nav") %>

    <!-- content -->
    <main id="content">
      <div class="title-area">
        <h3>회사개요</h3>
      </div>
      <!-- page-header -->
      <div class="page-header">
        <div class="container">
          <div>
            <div class="frame">
              <figure>
                <img src="/assets/images/sub/img_logo_white.png" alt="" />
              </figure>
            </div>
          </div>
          <div>
            <ul>
              <li>
                <dl>
                  <dt>회사명</dt>
                  <dd>추천대출</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>대표자</dt>
                  <dd>한상훈</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>주요서비스</dt>
                  <dd>대부중개</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>주요사업</dt>
                  <dd>금융플랫폼서비스제공</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>설립일자</dt>
                  <dd>2025-06-00</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>주소</dt>
                  <dd>
                    <address>
                      충청북도 청주시 흥덕구 가경로 8-1 태경빌딩 5층 5481호
                    </address>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>홈페이지</dt>
                  <dd>홈페이지</dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- introduce -->
      <section class="introduce">
        <div class="summary-1 effect">
          <div class="container">
            <h3><img src="/assets/images/sub/img_logo.png" alt="" /></h3>
            <b
              >추천대출중개는 대출 광고를 위한 디지털 플랫폼이며 금융상품을 직접
              중개하거나 판매하지 않습니다.</b
            >
            <p>
              오직 광고 노출과 사용자에게 편한 정보 전달만을 담당하는
              최우수업체입니다.<br /><br />
              공식 등록된 업체만 광고되고 있으며 중개수수료를 요구하거나
              받는것은 불법입니다.<br />
              우리는 광고 플랫폼으로서의 역할에만 충실한 깨끗한 최우수 금융 광고
              플랫폼입니다.
            </p>
          </div>
        </div>
        <div class="summary-2 effect">
          <div class="container">
            <h3><img src="/assets/images/sub/img_question.png" alt="" /></h3>
            <b>우리는 <span>무엇을</span> 하나요?</b>
            <p>
              추천대출중개는 <span>‘대출 광고’</span>를 노출해주는 광고
              플랫폼입니다.<br />
              사용자는 다양한 대출사들의 상품을 한 눈에 보고 비교할 수 있으며,
              각 상품에 대한 자세한 정보나 신청은 해당 금융사를 통해 이용해
              주세요.
            </p>
            <ul>
              <li>저희는 대출광고만 제공합니다.</li>
              <li>대출 상품을 판매하거나 중개하지 않습니다.</li>
              <li>
                계약, 심사, 승인, 거절 등 모든 책임은 해당 금융사에 있습니다.
              </li>
              <li>중개수수료를 요구하거나 받는 것은 불법입니다.</li>
            </ul>
          </div>
        </div>
        <div class="summary-3 effect">
          <div class="container">
            <h3><img src="/assets/images/sub/img_forbidden.png" alt="" /></h3>
            <b><span>우리는 책임지지 않습니다</span></b
            ><br />
            <ul>
              <li>
                대출 여부, 금리, 승인 조건 등 모든 금융 조건은 광고주(금융사)의
                몫입니다.
              </li>
              <li>
                추천대출중개는 어떠한 금융 행위에도 개입하지 않으며, 단지 광고
                공간을 제공하는 플랫폼입니다.
              </li>
              <li>
                사용자는 광고를 통해 연결된 금융사의 이용 약관과 계약 조건을
                반드시 직접 확인해야 합니다.
              </li>
            </ul>
          </div>
        </div>
        <div class="summary-4 effect">
          <div class="container">
            <h3><img src="/assets/images/sub/img_lock.png" alt="" /></h3>
            <b><span>개인정보 보호는 철저하게</span></b>
            <p>
              사용자는 홈페이지 내 모든 서비스는 어떠한 개인정보 노출 없이
              이용하실 수 있습니다.
            </p>
            <ul>
              <li>개인정보를 판매하거나 공유하지 않습니다.</li>
              <li>
                광고주의 수집되는 정보는 광고 효율 분석 및 개인화 추천에만
                활용되며, 법령에 따라 안전하게 암호화·보관됩니다.
              </li>
              <li>원하지 않는 정보 제공은 언제든지 거부할 수 있습니다.</li>
            </ul>
            <hr />
            <h3><img src="/assets/images/sub/img_support.png" alt="" /></h3>
            <b><span>우리의 약속</span></b>
            <ul>
              <li>
                신뢰 기반 광고만을 노출합니다. 허위·과장 광고는 철저히
                배제합니다.
              </li>
              <li>사용자의 데이터를 상업적으로 이용하지 않습니다.</li>
              <li>
                우리는 광고 플랫폼 그 자체로서, 책임은 광고주에게, 권한은
                사용자에게 돌려드립니다.
              </li>
            </ul>
          </div>
        </div>
        <div class="summary-5 effect">
          <div class="container">
            <b
              ><span class="or">추천대출중개</span>는
              <span>광고 플랫폼만 제공</span>합니다.</b
            >
            <p>
              추천대출중개는 직접적인 대출 및 중개를 하지 않습니다.<br />
              추천대출중개는 한국대부금융협회, 지자체 정식허가 업체만 광고
              등록이 가능합니다.<br />
              추천대출중개에 기재된 광고 내용은 대부(중개)업체가 제공하는
              정보로써 이를 신뢰하여 취한 조치에 대하여 어떠한 책임도 지지
              않습니다.<br />
              중개수수료를 요구하거나 받는 것은 불법입니다.<br />
              과도한 빚, 고통의 시작입니다.<br />
              대출 시 귀하의 신용등급 또는 개인신용평점이 하락할 수 있습니다.
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- terms-list -->
    <%- include("../layout/terms-list") %>

    <!-- quick-banner -->
    <%- include("../layout/quick-banner") %>

    <!-- footer -->
    <%- include("../layout/footer") %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/sub.js"></script>
    <script>
      // 영역별 효과
      setTimeout(function () {
        $('.page-header').addClass('show');
      }, 500);
      $(window).on('scroll', function () {
        $('.effect').each(function (index, elem) {
          if (
            $(window).scrollTop() >
            $(elem).offset().top - $(window).height() / 2
          ) {
            $(elem).addClass('show');
          }
        });
      });
    </script>
  </body>
</html>
