<!doctype html>
<html lang="ko">
  <head>
    <!-- meta -->
    <%- include("../layout/meta") %>

    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/sub.css" />
    <link rel="stylesheet" href="/assets/css/community.css" />
  </head>
  <body>
    <!-- header -->
    <%- include("../layout/header") %>

    <!-- nav -->
    <%- include("../layout/mobile-nav") %>

    <!-- content -->
    <main id="content">
      <!-- global-search -->
      <%- include("../form/find-lender-by-region-form", { sido: "", search: "" }) %>

      <!-- sub-layout -->
      <section class="sub-layout community">
        <div class="container">
          <nav class="lnb">
            <div class="lnb-header">
              <small>대출업체가 모두 한 곳에, 추천대출!</small>
              <strong>커뮤니티</strong>
            </div>
            <div class="lnb-body">
              <ul>
                <li><a href="/community/financial_news">금융권소식</a></li>
                <li><a href="/community/loan_news">대부업소식</a></li>
                <!-- <li><a href="/community/qna_list">질문과답변</a></li> -->
              </ul>
            </div>
          </nav>
          <div class="sub-content">
            <article class="community-intro">
              <div class="article-header">
                <h3>커뮤니티</h3>
                <p>
                  금융, 대부업소식부터 궁금한 점을 해결할 수 있는 공간입니다.
                </p>
              </div>
              <div class="article-content">
                <ul>
                  <li>
                    <div class="box">
                      <div class="box-header">
                        <a href="/community/loan_news">대부업소식</a>
                      </div>
                      <div class="box-content">
                        <ul>
                          <% loanNews.forEach((item) => { %>
                          <li>
                            <a
                              href="/community/loan_news/redirect/<%= item.id %>"
                              target="_blank"
                              ><%= item.title %>
                              <span class="date"><%= item.createdAt %></span></a
                            >
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box">
                      <div class="box-header">
                        <a href="/community/financial_news">금융권소식</a>
                      </div>
                      <div class="box-content">
                        <ul>
                          <% financialNews.forEach((item) => { %>
                          <li>
                            <a
                              href="/community/financial_news/redirect/<%= item.id %>"
                              target="_blank"
                              ><%= item.title %>
                              <span class="date"><%= item.createdAt %></span></a
                            >
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href="/service/notice_list">
                          <figure>
                            <img
                              src="/assets/images/sub/img_notice.png"
                              alt=""
                            />
                            <figcaption>
                              <b>공지사항</b>
                              <p>
                                추천대출의 새로운 소식과<br />
                                공지사항을 확인하실 수 있습니다.
                              </p>
                            </figcaption>
                          </figure>
                        </a>
                      </li>
                      <li>
                        <a href="/service/one_inquiry">
                          <figure>
                            <img
                              src="/assets/images/sub/img_onenone.png"
                              alt=""
                            />
                            <figcaption>
                              <b>1:1 문의</b>
                              <p>
                                접수하시는 내용은 확인하는 즉시<br />
                                빠른 답변 드리도록 하겠습니다.
                              </p>
                            </figcaption>
                          </figure>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>

    <!-- terms-list -->
    <%- include("../layout/terms-list") %>

    <!-- quick-banner -->
    <%- include("../layout/quick-banner") %>

    <!-- footer -->
    <%- include("../layout/footer") %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/sub.js"></script>
  </body>
</html>
